/*********************
GENERAL STYLES
*********************/

body {
	@include animate(1s,.3s);
	position: relative;
	font-family: $sans-serif;
	background: $white;
	margin: 0;
	padding: 0;
	cursor: auto;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
}

// for typekit FOUT (flash of unstyled text) issue
.wf-loading { visibility: hidden; }
.wf-active { visibility: visible; }

hr { height: 1px; background: $border-color; border: none; margin: 2em 0; display: block; }

.iframe-container {
    border: 4px solid $border-color;
    @include radius(3px);
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*********************
LINK STYLES
*********************/

a { color: $link-color; outline: none !important;
	&:hover {
		color: $link-hover;
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 600;
  line-height: 1.2;
  color: $black;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 3em;
}

h2, .h2 {
	font-size: 2.3em;
}

h3, .h3 {
	font-size: 2em;
}

h4, .h4 {
	font-size: 1.8em;
}

h5, .h5 {
	font-size: 1.6em;
}

/*********************
HEADER STYLES
*********************/

header.ui {
	background-color: $black;
	.row { padding: 1em 0; }
}

#logo {
	margin: 0.75em 0;
	color: $white;
	text-decoration: none;
	font-size: 2em;
}

/*********************
NAVIGATION STYLES
*********************/

/*********************
POSTS & CONTENT STYLES
*********************/
div.mn, div.entry { margin-bottom: 4em;

  h1,h2,h3,h4,h5 { margin: 1.88em 0 .62em 0; }
  p,ul,ol { margin: 0 0 .94em 0; }
  blockquote { margin: 2.5em auto 2.5em auto; max-width: 900px; color: $black;
    p { font-size: 1.88em; }
  }

  p, li { font-size: 1.1em; }

  ul, ol { margin-left: 1.25em;
    li { line-height: 1.5; margin: .62em 0; }
  }

  ul li { list-style: disc; }
  ol li { list-style: decimal; }

    /* WordPress Gallery
  ------------------------------------------ */

  .gallery {
  	margin-left: -0.5em;
  	margin-right: -0.5em;
  }

  .gallery:after {
  	display: table;
  	content: "";
  	clear: both;
  }

  .gallery-item {
  	margin: 0;
  	float: left;
    width: 100%;
    padding: .25em;
  }

  .gallery-item img {
  	width: 100%;
  }

  @include small-up {
    .gallery-columns-1 .gallery-item {
        width: 100%;
        float: none;
    }
    .gallery-columns-2 .gallery-item {
        width: 50%
    }
    .gallery-columns-3 .gallery-item {
        width: 33.3333%
    }
    .gallery-columns-4 .gallery-item {
        width: 25%
    }
    .gallery-columns-5 .gallery-item {
        width: 20%
    }
    .gallery-columns-6 .gallery-item {
        width: 16.6667%
    }
    .gallery-columns-7 .gallery-item {
        width: 14.2857%
    }
    .gallery-columns-8 .gallery-item {
        width: 12.5%
    }
    .gallery-columns-9 .gallery-item {
        width: 11.1111%
    }
  }

  .gallery-columns-2 .gallery-item:nth-child(2n+1),
  .gallery-columns-3 .gallery-item:nth-child(3n+1),
  .gallery-columns-4 .gallery-item:nth-child(4n+1),
  .gallery-columns-5 .gallery-item:nth-child(5n+1),
  .gallery-columns-6 .gallery-item:nth-child(6n+1),
  .gallery-columns-7 .gallery-item:nth-child(7n+1),
  .gallery-columns-8 .gallery-item:nth-child(8n+1),
  .gallery-columns-9 .gallery-item:nth-child(9n+1) {
  	clear: left;
  }

  .wp-caption-text { font-size: .85em; margin: .62em 0; line-height: 1.3; }

}

.aligncenter, .alignnone { display: block; margin: 2.5em auto 2.5em auto; }
.alignleft { float: left; margin: .31em 1.88em 1.88em 0; }
.alignright { float: right; margin: .31em 0 1.88em 1.88em; }

div.wp-caption { max-width: 100%; height: auto;
  img { display: block; }
  p { font-size: .9em; margin: .62em 0; }
}

footer.ui {
	background: $black;
	color: $white;
	.row {
		padding: 1em 0;
	}
}
