$black: #323944;
$white: #fff;
$tan: #eceee5;
$green: #7dd667;
$blue: #2980b9;
$gray: #eaedf2;
$meta-gray: #9fa6b4;

$text-color: #5E5E5E;
$border-color: #ccc;
$link-color: $green;
$link-hover: darken($link-color, 9%);
