$icon:        "FontAwesome";
$sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:       "Georgia", Cambria, Times New Roman, Times, serif;

$base-font-size: 16px !default;
$base-line-spacing: 16px !default;