@import "partials/variables";
@import "partials/typography";
@import "partials/functions";
@import "partials/mixins";
@import "partials/foundation";
@import "partials/fontawesome";
@import "partials/extras";
@import "partials/normalize";
@import "modules/alerts";
@import "modules/buttons";
@import "modules/forms";

@import "breakpoints/base";

@media only screen and (min-width: 481px) {
	@import "breakpoints/481up";
}

@media only screen and (min-width: 768px) {
	@import "breakpoints/768up";
}

@media only screen and (min-width: 1030px) {
	@import "breakpoints/1030up";
}

@media only screen and (min-width: 1240px) {
	@import "breakpoints/1240up";
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {
	@import "breakpoints/2x";
}

@media print {
	@import "partials/print";
}
