%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-weight: normal;
  padding: 15px 30px;
  font-size: 20px;
  @include transition(background-color 0.14s ease-in-out);
  cursor: pointer;
  border: none;
  -webkit-font-smoothing: inherit;
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  }
  &:active {
    top: 1px;
  }
}

.button {
  @extend %btn;
  background-color: $blue;
  &:hover, &:focus {
    background-color: darken($blue, 4%);
  }
  &:active {
    background-color: darken($blue, 5%);
  }
}
